/* Base HTML Styles */
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Rubik:ital,wght@0,400;0,700;1,400&display=swap");

/* :root {

} */

/* CSS Reset */
html, body {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: var(--black);
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Work Sans", sans-serif;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}
ol,
ul {
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}
input,
button,
textarea,
select {
  font: inherit;
}

/* Flexbox party time */
/* .flex-container {
  display: flex;
  flex-direction: column;
} */

/* Components */


.hero h1 {
    color: #A2D4F6;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    font-size: x-large;

}

.hero h2 {
    text-align: center;
    color: #A2D4F6;
}

p.intro {
    text-align: center;
    color: #A2D4F6;
}

p.bio {
    text-align: center;
    color: #A2D4F6;
}

body {
    background-color:#1C0222;
    color:#A2D4F6
    

}

img {
  .flex-container {
    display: flex;
    flex-direction: column;
  }
    display:block;
    margin:auto;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}
  
a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}





